@model IEnumerable<Arco.WebSite.Models.PackageKey>

@{
    ViewBag.Title = "Index";
}

<h2>Package Keys</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.IsOk)
            {
                <i class="fa fa-check"></i>
            }
            else
            {
                <i class="fa fa-times text-danger"></i>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
